ccs_workspace/.jxbrowser.userdata/BrowserMetrics-spare.pma
ccs_workspace/.jxbrowser.userdata/First Run
ccs_workspace/.jxbrowser.userdata/Last Browser
ccs_workspace/.jxbrowser.userdata/Last Version
ccs_workspace/.jxbrowser.userdata/Local State
ccs_workspace/.jxbrowser.userdata/Module Info Cache
ccs_workspace/.jxbrowser.userdata/CertificateRevocation/7417/crl-set
ccs_workspace/.jxbrowser.userdata/CertificateRevocation/7417/LICENSE
ccs_workspace/.jxbrowser.userdata/CertificateRevocation/7417/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/CertificateRevocation/7417/manifest.json
ccs_workspace/.jxbrowser.userdata/CertificateRevocation/7417/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/Crowd Deny/2022.6.6.1142/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/Crowd Deny/2022.6.6.1142/manifest.json
ccs_workspace/.jxbrowser.userdata/Crowd Deny/2022.6.6.1142/Preload Data
ccs_workspace/.jxbrowser.userdata/Crowd Deny/2022.6.6.1142/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/Default/Cookies
ccs_workspace/.jxbrowser.userdata/Default/Cookies-journal
ccs_workspace/.jxbrowser.userdata/Default/Current Session
ccs_workspace/.jxbrowser.userdata/Default/Current Tabs
ccs_workspace/.jxbrowser.userdata/Default/Favicons
ccs_workspace/.jxbrowser.userdata/Default/Favicons-journal
ccs_workspace/.jxbrowser.userdata/Default/heavy_ad_intervention_opt_out.db
ccs_workspace/.jxbrowser.userdata/Default/heavy_ad_intervention_opt_out.db-journal
ccs_workspace/.jxbrowser.userdata/Default/History
ccs_workspace/.jxbrowser.userdata/Default/History-journal
ccs_workspace/.jxbrowser.userdata/Default/LOCK
ccs_workspace/.jxbrowser.userdata/Default/LOG
ccs_workspace/.jxbrowser.userdata/Default/Login Data
ccs_workspace/.jxbrowser.userdata/Default/Login Data-journal
ccs_workspace/.jxbrowser.userdata/Default/Media History
ccs_workspace/.jxbrowser.userdata/Default/Media History-journal
ccs_workspace/.jxbrowser.userdata/Default/Network Action Predictor
ccs_workspace/.jxbrowser.userdata/Default/Network Action Predictor-journal
ccs_workspace/.jxbrowser.userdata/Default/Network Persistent State
ccs_workspace/.jxbrowser.userdata/Default/Preferences
ccs_workspace/.jxbrowser.userdata/Default/previews_opt_out.db
ccs_workspace/.jxbrowser.userdata/Default/previews_opt_out.db-journal
ccs_workspace/.jxbrowser.userdata/Default/README
ccs_workspace/.jxbrowser.userdata/Default/Secure Preferences
ccs_workspace/.jxbrowser.userdata/Default/Shortcuts
ccs_workspace/.jxbrowser.userdata/Default/Shortcuts-journal
ccs_workspace/.jxbrowser.userdata/Default/Top Sites
ccs_workspace/.jxbrowser.userdata/Default/Top Sites-journal
ccs_workspace/.jxbrowser.userdata/Default/Visited Links
ccs_workspace/.jxbrowser.userdata/Default/Web Data
ccs_workspace/.jxbrowser.userdata/Default/Web Data-journal
ccs_workspace/.jxbrowser.userdata/Default/AutofillStrikeDatabase/LOCK
ccs_workspace/.jxbrowser.userdata/Default/AutofillStrikeDatabase/LOG
ccs_workspace/.jxbrowser.userdata/Default/BudgetDatabase/LOCK
ccs_workspace/.jxbrowser.userdata/Default/BudgetDatabase/LOG
ccs_workspace/.jxbrowser.userdata/Default/Cache/data_0
ccs_workspace/.jxbrowser.userdata/Default/Cache/data_1
ccs_workspace/.jxbrowser.userdata/Default/Cache/data_2
ccs_workspace/.jxbrowser.userdata/Default/Cache/data_3
ccs_workspace/.jxbrowser.userdata/Default/Cache/f_000001
ccs_workspace/.jxbrowser.userdata/Default/Cache/f_000002
ccs_workspace/.jxbrowser.userdata/Default/Cache/f_000003
ccs_workspace/.jxbrowser.userdata/Default/Cache/f_000004
ccs_workspace/.jxbrowser.userdata/Default/Cache/index
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/9dd7aa5fb9fd7b17_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/14b52c0143880d4f_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/29ed86479f90c6c8_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/32e798852e898bb5_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/42e4d7ce2524cf75_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/054f78edc9cf3785_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/97e260cedde1b999_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/1435fbc0c358dc3d_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/8456556ba3d70d57_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/9135155c5b380d10_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/bbe1085a8518a0ae_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/bc5083ad35c2428b_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/fb1a2996887253dc_0
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/index
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/js/index-dir/the-real-index
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/wasm/index
ccs_workspace/.jxbrowser.userdata/Default/Code Cache/wasm/index-dir/the-real-index
ccs_workspace/.jxbrowser.userdata/Default/Extension State/000003.log
ccs_workspace/.jxbrowser.userdata/Default/Extension State/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/Extension State/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Extension State/LOG
ccs_workspace/.jxbrowser.userdata/Default/Extension State/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Feature Engagement Tracker/AvailabilityDB/LOG
ccs_workspace/.jxbrowser.userdata/Default/Feature Engagement Tracker/EventDB/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Feature Engagement Tracker/EventDB/LOG
ccs_workspace/.jxbrowser.userdata/Default/GCM Store/Encryption/000003.log
ccs_workspace/.jxbrowser.userdata/Default/GCM Store/Encryption/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/GCM Store/Encryption/LOCK
ccs_workspace/.jxbrowser.userdata/Default/GCM Store/Encryption/LOG
ccs_workspace/.jxbrowser.userdata/Default/GCM Store/Encryption/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/GPUCache/data_0
ccs_workspace/.jxbrowser.userdata/Default/GPUCache/data_1
ccs_workspace/.jxbrowser.userdata/Default/GPUCache/data_2
ccs_workspace/.jxbrowser.userdata/Default/GPUCache/data_3
ccs_workspace/.jxbrowser.userdata/Default/GPUCache/index
ccs_workspace/.jxbrowser.userdata/Default/Local Storage/leveldb/000003.log
ccs_workspace/.jxbrowser.userdata/Default/Local Storage/leveldb/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/Local Storage/leveldb/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Local Storage/leveldb/LOG
ccs_workspace/.jxbrowser.userdata/Default/Local Storage/leveldb/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/Platform Notifications/000003.log
ccs_workspace/.jxbrowser.userdata/Default/Platform Notifications/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/Platform Notifications/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Platform Notifications/LOG
ccs_workspace/.jxbrowser.userdata/Default/Platform Notifications/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/Session Storage/000003.log
ccs_workspace/.jxbrowser.userdata/Default/Session Storage/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/Session Storage/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Session Storage/LOG
ccs_workspace/.jxbrowser.userdata/Default/Session Storage/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/Site Characteristics Database/000003.log
ccs_workspace/.jxbrowser.userdata/Default/Site Characteristics Database/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/Site Characteristics Database/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Site Characteristics Database/LOG
ccs_workspace/.jxbrowser.userdata/Default/Site Characteristics Database/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/Sync Data/LevelDB/000003.log
ccs_workspace/.jxbrowser.userdata/Default/Sync Data/LevelDB/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/Sync Data/LevelDB/LOCK
ccs_workspace/.jxbrowser.userdata/Default/Sync Data/LevelDB/LOG
ccs_workspace/.jxbrowser.userdata/Default/Sync Data/LevelDB/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/000003.log
ccs_workspace/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/LOCK
ccs_workspace/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/LOG
ccs_workspace/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/MANIFEST-000002
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/000003.log
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/LOCK
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/LOG
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/metadata/000003.log
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/metadata/CURRENT
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/metadata/LOCK
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/metadata/LOG
ccs_workspace/.jxbrowser.userdata/Default/shared_proto_db/metadata/MANIFEST-000001
ccs_workspace/.jxbrowser.userdata/ECSerivceProvidersConfig/1/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/ECSerivceProvidersConfig/1/manifest.json
ccs_workspace/.jxbrowser.userdata/ECSerivceProvidersConfig/1/service_providers.json
ccs_workspace/.jxbrowser.userdata/ECSerivceProvidersConfig/1/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/FileTypePolicies/51/download_file_types.pb
ccs_workspace/.jxbrowser.userdata/FileTypePolicies/51/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/FileTypePolicies/51/manifest.json
ccs_workspace/.jxbrowser.userdata/FileTypePolicies/51/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/GrShaderCache/GPUCache/data_0
ccs_workspace/.jxbrowser.userdata/GrShaderCache/GPUCache/data_1
ccs_workspace/.jxbrowser.userdata/GrShaderCache/GPUCache/data_2
ccs_workspace/.jxbrowser.userdata/GrShaderCache/GPUCache/data_3
ccs_workspace/.jxbrowser.userdata/GrShaderCache/GPUCache/index
ccs_workspace/.jxbrowser.userdata/Local Storage - EXT/http_127.0.0.1.localstorage
ccs_workspace/.jxbrowser.userdata/OnDeviceHeadSuggestModel/20220614.455861197/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/OnDeviceHeadSuggestModel/20220614.455861197/manifest.json
ccs_workspace/.jxbrowser.userdata/OnDeviceHeadSuggestModel/20220614.455861197/tl_en-us_2022-06-14_455861197_100000_index.bin
ccs_workspace/.jxbrowser.userdata/OnDeviceHeadSuggestModel/20220614.455861197/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/OriginTrials/1.0.0.13/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/OriginTrials/1.0.0.13/manifest.json
ccs_workspace/.jxbrowser.userdata/OriginTrials/1.0.0.13/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/SSLErrorAssistant/7/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/SSLErrorAssistant/7/manifest.json
ccs_workspace/.jxbrowser.userdata/SSLErrorAssistant/7/ssl_error_assistant.pb
ccs_workspace/.jxbrowser.userdata/SSLErrorAssistant/7/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/SafetyTips/2831/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/SafetyTips/2831/manifest.json
ccs_workspace/.jxbrowser.userdata/SafetyTips/2831/safety_tips.pb
ccs_workspace/.jxbrowser.userdata/SafetyTips/2831/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/ShaderCache/GPUCache/data_0
ccs_workspace/.jxbrowser.userdata/ShaderCache/GPUCache/data_1
ccs_workspace/.jxbrowser.userdata/ShaderCache/GPUCache/data_2
ccs_workspace/.jxbrowser.userdata/ShaderCache/GPUCache/data_3
ccs_workspace/.jxbrowser.userdata/ShaderCache/GPUCache/index
ccs_workspace/.jxbrowser.userdata/Subresource Filter/Indexed Rules/27/9.36.0/Ruleset Data
ccs_workspace/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.36.0/Filtering Rules
ccs_workspace/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.36.0/LICENSE.txt
ccs_workspace/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.36.0/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.36.0/manifest.json
ccs_workspace/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.36.0/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/TLSDeprecationConfig/4/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/TLSDeprecationConfig/4/manifest.json
ccs_workspace/.jxbrowser.userdata/TLSDeprecationConfig/4/tls_deprecation_config.pb
ccs_workspace/.jxbrowser.userdata/TLSDeprecationConfig/4/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/WidevineCdm/4.10.2391.0/manifest.fingerprint
ccs_workspace/.jxbrowser.userdata/WidevineCdm/4.10.2391.0/manifest.json
ccs_workspace/.jxbrowser.userdata/WidevineCdm/4.10.2391.0/_metadata/verified_contents.json
ccs_workspace/.jxbrowser.userdata/WidevineCdm/4.10.2391.0/_platform_specific/win_x64/widevinecdm.dll
ccs_workspace/.jxbrowser.userdata/WidevineCdm/4.10.2391.0/_platform_specific/win_x64/widevinecdm.dll.sig
ccs_workspace/qc2022/Debug/ccsObjs.opt
ccs_workspace/qc2022/Debug/main.d
ccs_workspace/qc2022/Debug/main.obj
ccs_workspace/qc2022/Debug/makefile
ccs_workspace/qc2022/Debug/objects.mk
ccs_workspace/qc2022/Debug/qc2022_linkInfo.xml
ccs_workspace/qc2022/Debug/qc2022.map
ccs_workspace/qc2022/Debug/qc2022.out
ccs_workspace/qc2022/Debug/sources.mk
ccs_workspace/qc2022/Debug/subdir_rules.mk
ccs_workspace/qc2022/Debug/subdir_vars.mk
ccs_workspace/qc2022/Debug/captivate/ADVANCED/CAPT_Manager.d
ccs_workspace/qc2022/Debug/captivate/ADVANCED/CAPT_Manager.obj
ccs_workspace/qc2022/Debug/captivate/ADVANCED/subdir_rules.mk
ccs_workspace/qc2022/Debug/captivate/ADVANCED/subdir_vars.mk
ccs_workspace/qc2022/Debug/captivate/BASE/CAPT_ISR.d
ccs_workspace/qc2022/Debug/captivate/BASE/CAPT_ISR.obj
ccs_workspace/qc2022/Debug/captivate/BASE/subdir_rules.mk
ccs_workspace/qc2022/Debug/captivate/BASE/subdir_vars.mk
ccs_workspace/qc2022/Debug/captivate/BASE/libraries/subdir_rules.mk
ccs_workspace/qc2022/Debug/captivate/BASE/libraries/subdir_vars.mk
ccs_workspace/qc2022/Debug/captivate/COMM/CAPT_Interface.d
ccs_workspace/qc2022/Debug/captivate/COMM/CAPT_Interface.obj
ccs_workspace/qc2022/Debug/captivate/COMM/FunctionTimer.d
ccs_workspace/qc2022/Debug/captivate/COMM/FunctionTimer.obj
ccs_workspace/qc2022/Debug/captivate/COMM/I2CSlave.d
ccs_workspace/qc2022/Debug/captivate/COMM/I2CSlave.obj
ccs_workspace/qc2022/Debug/captivate/COMM/subdir_rules.mk
ccs_workspace/qc2022/Debug/captivate/COMM/subdir_vars.mk
ccs_workspace/qc2022/Debug/captivate/COMM/UART.d
ccs_workspace/qc2022/Debug/captivate/COMM/UART.obj
ccs_workspace/qc2022/Debug/captivate_app/CAPT_App.d
ccs_workspace/qc2022/Debug/captivate_app/CAPT_App.obj
ccs_workspace/qc2022/Debug/captivate_app/CAPT_BSP.d
ccs_workspace/qc2022/Debug/captivate_app/CAPT_BSP.obj
ccs_workspace/qc2022/Debug/captivate_app/subdir_rules.mk
ccs_workspace/qc2022/Debug/captivate_app/subdir_vars.mk
ccs_workspace/qc2022/Debug/captivate_config/CAPT_UserConfig.d
ccs_workspace/qc2022/Debug/captivate_config/CAPT_UserConfig.obj
ccs_workspace/qc2022/Debug/captivate_config/subdir_rules.mk
ccs_workspace/qc2022/Debug/captivate_config/subdir_vars.mk
ccs_workspace/qc2022/Debug/driverlib/MSP430FR2xx_4xx/libraries/subdir_rules.mk
ccs_workspace/qc2022/Debug/driverlib/MSP430FR2xx_4xx/libraries/subdir_vars.mk
ccs_workspace/qc2022/Debug/mathlib/libraries/subdir_rules.mk
ccs_workspace/qc2022/Debug/mathlib/libraries/subdir_vars.mk
ccs_workspace/RemoteSystemsTempFiles/.project
ccs_workspace/qc2022/Debug/tlc5948a.d
ccs_workspace/qc2022/Debug/tlc5948a.obj
ccs_workspace/qc2022/.launches
docs/badge/~$$block_diagram.~vsdx
